/*===== VARIABLES CSS =====*/

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media screen and (max-width: 768px){
    #content {
        width: 100%;
        padding: 0px;
        min-height: 100vh;
        transition: all 0.3s;
    }
}

/*===== NAV =====*/

.topbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;    
}


/*===== HOME =====*/
.bd-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.home{
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}
.home__container{
    height: calc(100vh - 7.5rem);
    row-gap: 2rem;
}
.home__title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
}
.home__title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}
.home__scroll{
    align-self: flex-end;
    padding-bottom: 1rem;
}
.home__scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}
@media screen and (max-width: 320px) {
    .home__img {
      width: 230px;
    }
}
@media screen and (min-width: 768px){
    .home__container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home__img{
        width: 524px;
        right: 10%;
    }
}
@media screen and (min-height: 721px){
    .home__container {
        height: 640px;
    }
    .home__img{
        width: 500px;
        right: 24%;
    }
}