{% extends "base/base.html" %} {% load static %}
<!-- Add CSS Style -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
{% endblock %}
<!-- Add Page Content -->
{% block content %}
<div id="content">
  <!--===== HEADER =====-->
  <div class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!--===== BUTTON =====-->
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>        
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>
        <!--===== SUB-MENU =====-->
        <div class="collapse navbar-collapse nav__menu" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" {% if request.path == '/' %}active{% endif %}>
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item" {% if request.path == '/#about' %}active{% endif %}>
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item" {% if request.path == '/#skills' %}active{% endif %}>
              <a class="nav-link" href="#skills">Skills</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav> 
  </div> 
  <!--===== CONTENT =====-->
  <!--===== HOME =====-->
  <section class="home" id="home">
      <div class="home__container bd-grid">
          <h1 class="home__title"><span>HE</span><br>LLO.</h1>

          <div class="home__scroll">
              <a href="#about" class="home__scroll-link"><i class="fas fa-arrow-up"></i>    Scroll down</a>
          </div>

          <img src="{% static 'img/pruebas/guy-gdefa3a39f_1920.png' %}" alt="" class="home__img">
      </div>
  </section>
  <!--===== ABOUT =====-->
  <section class="about section" id="about">
      <h2 class="section-title">About</h2>
      <div class="about__container bd-grid">
          <div class="about__img">
              <img src="assets/img/perfil.png" alt="">
          </div>
          <div>
              <h2 class="about__subtitle">I'am Jhon Doe</h2>
              <span class="about__profession">Web designer</span>
              <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae blanditiis.</p>
              <div class="about__social">
                  <a class="about__social-icon"><i class='fas fa-hard-hat' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-html5' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-css3-alt' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-js' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-python' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-bootstrap' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-github-square' ></i></a>                  
              </div>
          </div>
      </div>
  </section>
  <!--===== SKILLS =====-->
  <section class="skills section" id="skills">
      <h2 class="section-title">Skills</h2>
      <div class="skills__container">
          <div class="skills__box">
              <h3 class="skills__subtitle">Development</h3>
              <span class="skills__name">Html</span>
              <span class="skills__name">Css</span>
              <span class="skills__name">Javascript</span>
              <span class="skills__name">Scss</span>
              <span class="skills__name">React</span>
              <span class="skills__name">Vue</span>              
              <h3 class="skills__subtitle">Design</h3>
              <span class="skills__name">Figma</span>
              <span class="skills__name">Adobe XD</span>
              <span class="skills__name">Photoshop</span>
          </div>
          <div class="skills__img">
              <img src="assets/img/skill.jpg" alt="">
          </div>
      </div>  
  </section>
  <!--===== LAST BLOG ENTRY =====-->
  <section class="last_blog_entry section" id="last_blog_entry">
    <div class="bd-example">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c42067106%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c42067106%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.9140625%22%20y%3D%22217.7%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c42067106%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c42067106%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3125%22%20y%3D%22217.7%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
          <div class="carousel-item active">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c42067107%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c42067107%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22276.9921875%22%20y%3D%22217.7%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
</div>
<!--===== JS =====-->
<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>
<!--===== MAIN JS =====-->
<script src= {% static 'js/home/home.js' %} ></script>

{% endblock content %}