{% extends "base/base.html" %} {% load static %}
<!-- Add CSS Style -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
{% endblock %}
<!-- Add Page Content -->
{% block content %}
<div id="content">
  <!--===== HEADER =====-->
  <div class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!--===== BUTTON =====-->
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>        
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>
        <!--===== SUB-MENU =====-->
        <div class="collapse navbar-collapse nav__menu" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" {% if request.path == '/' %}active{% endif %}>
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item" {% if request.path == '/#about' %}active{% endif %}>
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item" {% if request.path == '/#skills' %}active{% endif %}>
              <a class="nav-link" href="#skills">Skills</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav> 
  </div> 
  <!--===== CONTENT =====-->
  <!--===== HOME =====-->
  <section class="home" id="home">
      <div class="home__container bd-grid">
          <h1 class="home__title"><span>{{ home.greetings_1 }}</span><br>{{ home.greetings_2 }}</h1>

          <div class="home__scroll">
              <a href="#about" class="home__scroll-link"><i class="fas fa-arrow-up"></i>    Scroll down</a>
          </div>

          <img src="{{ home.picture.url }}" alt="" class="home__img">
      </div>
  </section>
  <!--===== ABOUT =====-->
  <section class="about section" id="about">
      <h2 class="section-title">About</h2>
      <div class="about__container bd-grid">
          <div class="about__img">
              <img src="{{ about.profile_img.url }}" alt="">
          </div>
          <div>
              <h2 class="about__subtitle">{{ about.heading }}</h2>
              <span class="about__profession">{{ about.career }}</span>
              <p class="about__text">{{ about.description }}</p>
              <div class="about__social">
                  <a class="about__social-icon"><i class='fas fa-hard-hat' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-html5' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-css3-alt' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-js' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-python' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-bootstrap' ></i></a>
                  <a class="about__social-icon"><i class='fab fa-github-square' ></i></a>                  
              </div>
          </div>
      </div>
  </section>
  <!--===== SKILLS =====-->
  <section class="skills section" id="skills">
      <h2 class="section-title">Skills</h2>
      <div class="skills__container">        
        <div class="skills__box">
        {% for category in categories %}            
        <h3 class='skills_subtitle'>{{category.name}}</h3>   
          {% for skills in category.skills_set.all %}         
            <span class="skills__name">{{ skills.skill_name }}</span>
          {% endfor %}
        {% endfor %}
        </div>
        <div class="skills__img">
            <img src="assets/img/skill.jpg" alt="">
        </div>        
      </div>
  </section>  
</div>
<!--===== JS =====-->
<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>
<!--===== MAIN JS =====-->
<script src= {% static 'js/home/home.js' %} ></script>

{% endblock content %}